/***************************NavBar**************************/

.navbar {
  background-color: #161e54;
}

.navbar-expand .navbar-nav {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
}

.navbar-light .navbar-nav .nav-item {
  width: 5rem;
}

.navbar-light a .navbar-brand,
.navbar-light .navbar-nav .nav-item {
  color: #eeeeee;
  text-decoration: none;
}

.navbar-light a .navbar-brand:hover,
.navbar-light a .navbar-brand:focus,
.navbar-light a .navbar-brand:visited,
.navbar-light .navbar-nav .nav-item:hover,
.navbar-light .navbar-nav .nav-item:focus,
.navbar-light .navbar-nav .nav-item:visited {
  color: #eeeeee;
  font-weight: 500;
}

.navbar-light .nav-link {
  color: #ffffff;
}

.navbar-light .nav-link:hover,
.navbar-light .nav-link:focus {
  color: #eeeeee;
}

.navbar-light .navbar-text {
  color: #eeeeee;
  margin-right: 1rem;
}

.dropdown-item:active {
  background-color: #999999;
}

.dropdown-item a {
  color: #000000;
  text-decoration: none;
}

.dropdown-item p {
  margin-bottom: 0;
}

/***************************HomePage Panels**************************/

.panel-1 {
  background-color: #ff9b6a;
}

.panel-2 {
  background-color: #ff5151;
}

h1.fst-italic {
  font-weight: 500;
}

/***************************Messages**************************/

.error {
  color: #ff5151;
}
p.error {
  margin-bottom: 0;
}

.success {
  color: #0caa49;
}

/***************************Buttons**************************/

.btn-red {
  background-color: #f8485e;
  border-color: #f8485e;
}

.btn-red-outline {
  border-color: #f8485e;
  color: #f8485e;
}

.btn-red:hover,
.btn-red:active,
.btn-red-outline:hover,
.btn-red-outline:active {
  background-color: #ee2d44;
  border-color: #ee2d44;
}

.btn-red:focus,
.btn-red-outline:focus {
  border-color: #ee2d44;
  background-color: #ee2d44;
  color: #ffffff;
  box-shadow: none;
}

.btn-orange {
  background-color: #f76c35;
  border-color: #f76c35;
}

.btn-blue {
  background-color: #0090e4;
  border-color: #0090e4;
}

svg:hover {
  cursor: pointer;
}

/***************************Tables**************************/

.table-teacher tr :nth-child(2) {
  width: 65%;
}

.table-teacher tr :nth-child(3) {
  width: 10%;
}

.table-teacher tr :nth-child(4) {
  width: 10%;
}

.table-teacher tr :nth-child(5) {
  width: 10%;
}

.table-teacher tr a {
  color: #000000;
  text-decoration: none;
}

.table-teacher tr td:nth-child(5) {
  color: #ff5151;
}

.table-student tr :nth-child(2) {
  width: 53%;
}

.table-student tr :nth-child(3) {
  width: 25%;
}

.table-student tr :nth-child(4) {
  width: 10%;
}

.table-student tr :nth-child(5) {
  width: 7%;
}

.disabled {
  pointer-events: none;
}

.table-assignee tr :nth-child(2) {
  width: 70%;
}

.table-assignee tr :nth-child(3) {
  width: 20%;
}

tr:hover td {
  background-color: #dddddd;
}

/***************************Edit Quiz**************************/

.editable-value {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-bottom: 1px solid #000000;
}

.editable-value:focus-visible {
  outline: none;
}

.add-option {
  color: #161e54;
  font-weight: 500;
}

.add-option:hover {
  cursor: pointer;
  font-weight: 700;
}

hr {
  background-color: #0090e4;
  border: 1.5px solid #0090e4;
}

/***************************Attempt Quiz**************************/

.attempt-quiz-heading {
  color: #ffffff;
  background-color: #ff9b6a;
  padding: 2rem 1rem;
  border-radius: 10px;
}

/***************************Modals**************************/

#contained-modal-title-deleteconfirmation {
  color: #ff5151;
}
